<div class="container bg-dark-subtle text-dark mt-5 mb-5 pb-2 rounded-1">
  <h2 class="p-2">History</h2>
  <hr>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Event type</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody *ngFor="let historyLog of historyLogFields">
    <tr *ngFor="let event of historyLog.historyEvents">
      <td class="col-2">{{event.historyEventDate}}</td>
      <td class="col-5">{{event.historyEventType}}</td>
      <td class="col-5">{{event.historyEventDetails}}</td>
    </tr>
    </tbody>
  </table>
</div>
