<div class="container bg-dark-subtle text-dark mt-5 mb-5 pb-2 rounded-1">
<h2 class="p-2">Case Overview </h2>
  <hr>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Case</h5>
    <p>{{caseEntity?.id}}</p>
    <p>{{caseEntity?.name}}</p>
  </div>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Organization</h5>
    <p>{{caseEntity?.organization?.id}}</p>
    <p>{{caseEntity?.organization?.name}}</p>
  </div>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Application</h5>
    <p></p>
    <p>Signed by: Add this later :) </p>
  </div>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Assessment</h5>
    <p>Latest assessment:</p>
    <p>Performed by: {{caseEntity?.caseManager?.name}}</p>
  </div>
  <div class="bg-secondary-subtle rounded-3 p-2 m-4">
    <h5>Budget</h5>
    <p>Total budget: {{0}}</p>
    <p>Controlled by: {{caseEntity?.caseController?.name}}</p>
  </div>
</div>


<!--<div class="container bg-dark-subtle text-dark mt-5 mb-5 pb-2 rounded-1">-->
<!--  <h2 class="p-2">Case Assignment</h2>-->
<!--  <hr>-->
<!--  <p *ngIf="errorMessage" class="alert alert-danger mt-3 mb-3" role="alert">{{errorMessage}}</p>-->
<!--  <p *ngIf="successMessage" class="alert alert-success mt-3 mb-3" role="alert">{{successMessage}}</p>-->

<!--  <h4 class="pb-3">Case Manager</h4>-->
<!--  <select class="form-select" aria-label="case manager select" [(ngModel)]="selectedCaseManagerId">-->
<!--    <option *ngFor="let casemanager of caseManagerList" [value]="casemanager.id">{{casemanager.name}}</option>-->
<!--  </select>-->
<!--  <hr>-->
<!--  <h4 class="pb-3">Case Controller</h4>-->
<!--  <select class="form-select" aria-label="case manager select" [(ngModel)]="selectedCaseControllerId">-->
<!--    <option *ngFor="let casemanager of caseManagerList" [value]="casemanager.id">{{casemanager.name}}</option>-->
<!--  </select>-->
<!--  <hr>-->
<!--  <h4 class="pb-3">Handled by</h4>-->
<!--  <select class="form-select" aria-label="case manager select" [(ngModel)]="selectedHandledById">-->
<!--    <option *ngFor="let casemanager of caseManagerList" [value]="casemanager.id">{{casemanager.name}}</option>-->
<!--  </select>-->
<!--  <hr>-->
<!--  <button class="btn btn btn-secondary col-1 mt-2" (click)="saveCaseManagerUpdate()">Save</button>-->
<!--</div>-->
